body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}
#exibicao-palavra {
    font-size: 3em;
    margin-bottom: 30px;
}
#letras-chutadas {
    font-size: 2em;
    color: blue;
    font-weight: bold;
    margin-bottom: 20px;;
}
#mensagem {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    min-height: 1.5em;
    color: #333;
}
#btn-reiniciar {
    display: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#btn-reiniciar:hover {
    background-color: #3c823e;
}